<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Share You Ideas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Share You Ideas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let post of posts">
    <ion-card-header>{{ post.content }} ({{ post.likes }} Like)</ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-button slot="end" (click)="likeComment(post.id)">Like</ion-button>
          <ion-button [routerLink]="['/post', post.id]">View comments</ion-button>
          <ion-button slot="end" (click)="favoriteComment(post.id)">Collect</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Sponsored Ads  -->
  <ion-card class="advertisement">
    <ion-card-header>Sponsored Ads </ion-card-header>
    <ion-card-content>
      Here is the ad content.
    </ion-card-content>
  </ion-card>

  <!-- Input box, only visible to logged in users -->
  <ion-item *ngIf="login.isLoggedIn()">
    <ion-textarea [(ngModel)]="newPost" placeholder="Say something..."></ion-textarea>
  </ion-item>
  <ion-button *ngIf="login.isLoggedIn()" (click)="submitPost()">release</ion-button>
</ion-content>
