<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Share You Ideas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Share You Ideas</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Sponsored Ads  -->
  <ion-card class="advertisement">
    <ion-card-header>Sponsored Ads </ion-card-header>
    <ion-card-content>
      Here is the ad content.
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let post of posts">
    <ion-card-header>{{post.username}}:</ion-card-header>
    <ion-card-content>
      {{ post.content }}
      <ion-list>
        <ion-button size="small" slot="end" (click)="likeComment(post.id)" [disabled]="isFavorite">
          <ion-icon [name]="isFavorite ? 'heart-circle-outline' : 'heart'"></ion-icon>
          <ion-label>{{ likeNumber }}</ion-label>
        </ion-button>
          <ion-button size="small"  (click)="goToDetailPage()" >
            <ion-icon [name]="'ellipsis-horizontal-circle'">View comments</ion-icon>
          </ion-button>
          <ion-button size="small" slot="end" (click)="favoriteComment(post.id)" [disabled]=isCollect>
            <ion-icon [name]="isCollect? 'star-outline': 'star'"> Collect</ion-icon></ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Input box, only visible to logged in users -->
  <ion-item *ngIf="login.isLoggedIn()">
    <ion-textarea [(ngModel)]="newPost" placeholder="Say something..."></ion-textarea>
  </ion-item>
  <ion-button *ngIf="login.isLoggedIn()" (click)="submitPost()">release</ion-button>
</ion-content>
