<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Sponsored Ads  -->
  <ion-card class="advertisement">
    <ion-card-header>Sponsored Ads </ion-card-header>
    <ion-card-content>
      Here is the ad content.
    </ion-card-content>
  </ion-card>
  <!-- Song List -->

  <ion-content color="light">
    <ion-list [inset]="true" *ngFor="let song of this.songs">
      <ion-item>
        <ion-label> {{ song.title }} - {{song.artist}}</ion-label>
        <ion-button color="success" (click)="openView(song.id)">View Details</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
