<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Sponsored Ads  -->
  <ion-card class="advertisement">
    <ion-card-header>Sponsored Ads </ion-card-header>
    <ion-card-content>
      Here is the ad content.
    </ion-card-content>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comment</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/tabs/tab4']">Back</ion-button>

  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>{{receivedPostUsername}}</ion-card-subtitle>
      <ion-card-title>{{receivedPostContent}}</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngFor="let comment of comments">
      <ion-list>
        <ion-item>
          <ion-label>

           {{comment.username}}: {{ comment.content }}
          </ion-label>
          <ion-button size="small" slot="end" (click)="likeComment(comment.id)" [disabled]="comment.isLike">
            <ion-icon [name]="comment.isLike ?'heart-outline'  :'heart' "></ion-icon>

            <ion-label>{{ comment.likeCount }}</ion-label>
          </ion-button>
          <ion-button size="small" slot="end" (click)="favoriteComment(comment.id)" [disabled]="comment.isFavorite">
            <ion-icon [name]="comment.isFavorite? 'star':'star-outline' "> Collect</ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <!-- Input box, only visible to logged in users -->
  <ion-item *ngIf="login.isLoggedIn()">
    <ion-textarea [(ngModel)]="newComment" placeholder="Say something..."></ion-textarea>
  </ion-item>
  <ion-button *ngIf="login.isLoggedIn()" (click)="submitComment()">release</ion-button>

</ion-content>
