<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Comments</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab5" icon="chevron-back" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Comments</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sponsored Ads  -->
  <ion-card class="advertisement">
    <ion-card-header>Sponsored Ads </ion-card-header>
    <ion-card-content>
      Here is the ad content.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let comment of posts">
      {{ comment.content }}
    </ion-item>
  </ion-list>

</ion-content>
