<ion-content [fullscreen]="true">
  <div class="container">

    <div class="form-box">
      <h2>{{ showLogin ? 'Welcome Back' : 'Create Account' }}</h2>


      <form *ngIf="showLogin" (ngSubmit)="onLogin(loginData.email, loginData.password)">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="loginData.email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="loginData.password" name="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="neu-button" [disabled]="!loginData.email || !loginData.password">
          Login
        </ion-button>

      </form>

      <form *ngIf="!showLogin" (ngSubmit)="onRegister()">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.name" name="name" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="registerData.email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="registerData.password" name="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="registerData.rePassword" name="rePassword" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="neu-button"
                    [disabled]="!registerData.name || !registerData.email || !registerData.password || !registerData.rePassword">
          Register
        </ion-button>

      </form>

      <div class="switch-link">
        <p>
          {{ showLogin ? "Don't have an account?" : "Already have an account?" }}
          <a (click)="showLogin = !showLogin">{{ showLogin ? 'Register' : 'Login' }}</a>
        </p>
      </div>
    </div>

  </div>
</ion-content>
