<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>example</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab5" icon="chevron-back" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">example</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Reward Section -->
  <div class="fee">
    <img src="assets/money.png" />
    <h2>If you like our application, please reward us.</h2>
    <h2> Thank you for your support!</h2>
  </div>

  <!-- Sponsorship Section -->
  <div class="sponsorship">
    <h2>Sponsored Declaration</h2>
    <p>If you want to sponsor us for Advertisement, please contact us.</p>
  </div>
</ion-content>
